<h1>New Message</h1>
<form action="/new" method="post">
  <label for="user">Username</label>
  <input type="text" name="username">
  <label for="text">Message</label>
  <input type="text" name="text">
  <button type="submit">Submit</button>
</form>